<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.kashoo.Test.IAP.Consumable</string>
	<string>com.kashoo.Test.IAP.NonConsumable</string>
	<string>com.kashoo.Test.IAP.AutoRenewable.Month</string>
	<string>com.kashoo.Test.IAP.FreeSubscription</string>
	<string>com.kashoo.Test.IAP.NonRenewingSubscription</string>
</array>
</plist>
